*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
table{
	border: inset 3px blue;
	border-radius: 12px;
}
table tr th,td{
	width: 200px;
	min-width: 200px;
	text-align: center;
	padding: 5px;
}
table tr th{
	background-color: skyblue;
	font-weight: bold;
	font-size: 22px;
}
table tr td{
	background-color: aliceblue;
}
table tr th.primero{
	border-radius: 8px 0px 0px 0px ;
}
table tr th.ultimo{
	border-radius: 0px 8px 0px 0px ;
}


