*{
    margin: 0;
    padding: 0;
}
h1#titulo_principal{
    position: fixed;
    background-color: #333;
    color: #ddd;
    font-weight: 800;
    width: 100%;
    min-width:800px;
    padding: 10px 0px;
    text-align: center;
    font-size: 48px;
}
body{
    background-image: linear-gradient(to right, orange, darkorange, tomato);
}

.contenido{
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
}
.contenido ul{
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    margin-left: 70px;
}
.contenido ul dl li dt{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
}
.contenido ul dl dd{
    margin-bottom: 40px;
}
.funcionamiento{
    background-color: #333;
    color: #ddd;
    font-weight: 800;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
}
.contenido p{
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
}
.contenedor{
    display: inline-block;
    justify-content: center;
    min-width: 600px;
    width: 600px;
    box-sizing: content-box;
    padding-left: 40px;
}
.rotulo{
	display: inline-block;
	font-size: 28px;
	width: 120px;
	padding: 20px 0px;
	text-align: center;
	background-color: tomato;
	color: #fff;
	border-radius: 8px;
}
.rotulo.primero{
	background-color: #c6b462;
}
.rotulo.segundo{
	background-color: #4da777;
}
.rotulo.tercero{
	background-color: #5299b9;
}
.rotulo.cuarto{
	background-color: #b177ce;
}
.rotulo-definicion{
	position:relative;
	display: inline-block;
	padding-bottom: 10px;
}
.definicion{
	list-style: none;
	background-color: antiquewhite;
	border-radius: 0 8px 8px 0;
	padding: 4px 8px;
	width: 330px;
	min-width: 330px;
}
.definicion.segundo_{
	position:absolute;
	display:inline-block;
	margin-top: 4px;
}
.definicion.tercero_{
	position:absolute;
	display:inline-block;
	margin-top: 12px;
}
.definicion.cuarto_{
	position:absolute;
	display:inline-block;
	margin-top: 3px;
}
ul.definicion{
	display: inline-block;
	margin-left: -4px;
}
.definicion li{
	color: black;
	font-size: 16px
}
.tag{
	display:inline-block;
	background-color: tomato;
	color: #fff;
    font-weight: 900;
    text-align: center;
    padding: 4px 12px;
    border-radius: 8px;
}
.clase{
    display: inline-block;
    background-color: lightseagreen;
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding: 4px 12px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.clase .clas{
    position: relative;
    top: 12px;
    left: 24px;
    background-color: deepskyblue;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0 5px;
}
.interfaz{
    display: inline-block;
    background-color: rgb(255, 115, 0);
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding: 4px 12px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.interfaz .int{
    position: relative;
    top: 12px;
    left: 24px;
    background-color: yellow;
    color: #000;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0 5px;
}
.metodo{
    display: inline-block;
    background-color:deepskyblue;
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding: 4px 12px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.metodo .met{
    position: relative;
    top: 12px;
    left: 24px;
    background-color: lightseagreen;
    border-radius: 50%;
    border: 1px solid black;
    padding: 0 5px;
}
.contenedor .conector{
    display: inline-block;
    width: 4px;
    height: 40px;
    margin-left: 50px;
    margin-top:-20px ;
    margin-bottom: -4px;
    background-color: white;
}
.clase.a{
    margin-left: 80px;
}
.conector.a{
    margin-left: 130px;
}
.interfaz.b{
    margin-left: 85px;
}
.conector.b{
    margin-left: 230px;
}
.conector.c{
    margin-left: 90px;
}
.conector.d{
    margin-left: 230px;
}
.contenedor h3{
    color: #fff;
    font-weight: 900;
    text-align: center;
    margin: 20px 0px;
}
.metodo.c{
    margin-left: 20px;
}
.metodo.d{
    margin-left: 90px;
}
.metodo.e{
    margin-left: 260px;
}
.filas{
	display: flex;
	flex-direction: row;
	min-width: 1000px;
}
.cont_graf{
	display: flex;
	width: 200px;
	flex-direction: column;
	justify-content: center;
	aling-items: center;
	text-align: center;
	margin:20px 40px;
}
.cont{
	display: inline-block;
	width: 160px;
	padding: 100px 20px;
	border-radius: 20px;
	background-color: #d890ff;
	color: #fff;
}
.cont.html{
	background-color: #57a97d;
}
.texto{
	text-align: center;
	color:white;
	font-size: 36px;
	font-weight: bold;
}
ol{
	color:white;
	font-size:22px;
}
table{
	font-size:18px;
	color: white;
}
table th{
	font-size: 26px;
	font-weight: bold;
}
td{
	min-width: 400px;
	width: 400px;
}
td li{
	font-size:16px;
	text-decoration: underline;
	color: red;
}
dl{
	font-size:18px;
	font-weight: bold;
	color:white;
}
dl dd{
	margin-left: 30px
}
.servidor{
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
}
.contenedor_MVC{
	display: flex;
	flex-direction: row;
	border: solid 3px white;
	border-radius: 16px;
	padding: 6px 12px;
}
.contenedor_MVC div{
	display:inline-block;
	width: 150px;
	text-align: center;
	color: white;
	font-weight: bold;
	border-radius: 20px;
	padding: 60px 10px;
	margin: 0 10px;
	font-size: 18px;
}
div.controlador{
	background-color: dc98fe;
}
div.modelo{
	background-color: c9b971;
}
div.vista{
	background-color: 57a97d;
}
.primera{
	color:yellow;
}